.NavLink {
    color: rgba(0, 0, 0, 0.60);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 32px;
    border-radius: 12px;
    transition: .3s ease;
}

.NavLink:hover {
    background-color: rgba(0, 0, 0, .04);
}

.active {
    background-color: rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, 0.8);
    cursor: default;
}

.active:hover {
    background-color: rgba(0, 0, 0, .06);
    color: rgba(0, 0, 0, 0.8);
}

